/*------------- CSS RESET -----------------------*/

*{
  padding: 0;
  margin: 0;
  font-size: 100%;
  line-height: 1em;
}

body{
  /*width: 75%;
  max-width: 700px;*/
  font-family: 'Oswald', 'Heebo', 'Exo 2', sans-serif;
  /*font-family: 'Libre Baskerville', Georgia, Times, 'Times New Roman',serif;*/
  margin: auto;
  background-color: #464547;
  color: #333;
  line-height: 1.8;
}

::-webkit-scrollbar {display:none;}

img {
  display: block;
  width: 42vw;
  height: auto;
  margin: auto;
  padding-top: 0em;
}

/*-------------- MOBILE ----------------------*/

@media (max-width: 70em) {

  img {
    display: block;
    width: 80vw;
    height: auto;
    margin: auto;
    padding-top: 0em;
  }

}
